<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <ul class="nav nav-tabs">
        <li role="presentation" 
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact: true}"
        ><a routerLink="/">Home</a></li>
        <!-- routerLink this is the proper way to implement rather than href, because the normal every time you click in the link it reloads the page-->
        <li role="presentation" routerLinkActive="active"><a routerLink="servers">Servers</a></li>
        <li role="presentation" routerLinkActive="active"><a [routerLink]="['users']">Users</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <!-- <app-home></app-home> -->
      <router-outlet></router-outlet> 
      <!-- You use this to invoke the router configuration. It will enable you to navigate through other components by passing the path on Browser. -->
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-users></app-users>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <app-servers></app-servers>
    </div>
  </div> -->
</div>
